/* =========================
   FONT
========================= */
@font-face {
  font-family: 'Cafe24GoodNight';
  src: url('../font/Cafe24Oneprettynight-v2.0.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'KoPubBatangLight';
  src: url('../font/KoPubWorld Batang_Pro Light.otf') format('opentype');
  font-weight: 300;
}


@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('../font/NotoSansKR-Regular.ttf') format('opentype');
  font-weight: 400;
}


/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f6f2 url("../img/Background.png") repeat;
  color: #766d63;
  font-family: 'Cafe24GoodNight', serif;
}

.invite {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background: url("../img/Background.png") repeat;
  position: relative;
  overflow: hidden;
}

/* =========================
   MUSIC
========================= */
.music-btn {
  position: fixed;
  top: 28px;
  right: calc(50% - 165px);

  width: 66px;
  height: 36px;

  border: none;
  border-radius: 20px;

  background: rgba(221,211,197,.75);

  display: flex;
  align-items: center;
  justify-content: center;
    
  gap: 17px;  

  padding: 0 7px;
  z-index: 1000;
}

.music-toggle-circle {
  position: absolute;

  left: 5px;
  top: 5px;

  width: 26px;
  height: 26px;

  border-radius: 50%;
  background: #c8ad8d;

  transition: all .3s ease;

  z-index: 1;
}

.music-play,
.music-pause {
  width: 12px;
  height: 12px;

  position: relative;
  z-index: 2;
}

.music-btn.paused .music-toggle-circle {
  left: 35px;
}

/* =========================
   HERO
========================= */
.hero {
  text-align: center;
  padding-top: 72px;
}

.label {
  display: inline-block;
  padding: 4px 15px;
  border: 1px solid #766d63;
  border-radius: 20px;
  font-family: 'KoPubBatangLight';
  font-size: 13px;
  letter-spacing: 1px;
  color: #766d63;
  margin-bottom: 22px;
}

.hero h1 {
  font-family: 'KoPubBatangLight';
  font-size: 36px;
  font-weight: 300;
  color: #766d63;
  margin-bottom: 14px;
}

.sub {
  font-family: 'Cafe24GoodNight';
  font-size: 17px;
  line-height: 1.5;
  color: #766d63;
}

/* =========================
   MAIN VISUAL
========================= */
.visual-area {
  position: relative;
  width: 100%;
  height: 315px;
  margin-top: 18px;
}

.visual-area img {
  position: absolute;
  display: block;
}

.baby-main {
  width: 160px;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  z-index: 5;
}

.flower-left {
  width: 86px;
  left: 24px;
  top: 118px;
  z-index: 4;
}

.butterfly {
  z-index: 6;
}

.b1 {
  width: 42px;
  left: 52px;
  top: 50px;
}

.b2 {
  width: 46px;
  right: 54px;
  top: 30px;
}

.table {
  width: 76px;
  right: 30px;
  top: 160px;
  z-index: 6;
}

.rice {
  width: 58px;
  right: 65px;
  top: 218px;
  z-index: 7;
}

.shoes {
  width: 68px;
  left: 55px;
  top: 213px;
  z-index: 7;
}

.date {
  font-family: 'NotoSansKR-Light';
  font-size: 15px;
  margin-top: 4px;
  color: #7a7168;
}

.place {
  font-family: 'NotoSansKR-Light';
  font-size: 15px;
  margin-top: 4px;
  color: #7a7168;
}

.parents {
  font-family: 'NotoSansKR-Light';
  font-size: 13px;
  margin-top: 18px;
  color: #6e665e;
}

.parents span {
  color: #d9879a;
  margin: 0 8px;
}

/* =========================
   MESSAGE
========================= */
.message {
  padding: 70px 38px 44px;
}

.circle-photo-wrap {
  position: relative;
  height: 150px;
  margin-bottom: 20px;
}

.circle-photo {
  position: absolute;
  width: 165px;
  height: 165px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #f8f6f2;

}

.circle-photo.left {
  left: 15px;
  top: -9px;
}

.circle-photo.right {
  right: -10px;
  top: 50px;
}

.small-flower {
  width: 46px;
  margin-bottom: 10px;
}

.message p {
  font-family: 'Cafe24GoodNight';
  font-size: 15.5px;
  line-height: 1.9;
  text-align: left;
  color: #6f665e;
}

/* =========================
   CONTACT
========================= */
.contact {
  width: 200px;
  margin: 20px auto 70px;
}

.contact-row {
  display: grid;
  grid-template-columns: 90px 38px 30px 30px;
  align-items: center;
  column-gap: 8px;
  font-size: 19px;
  color: #6f665e;
  margin-bottom: 10px;
}



.contact-row img {
  width: 20px;
  height: 100%;
}

.point3 {
  width: 20px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-row .dots-icon {
  width: 18px;
  height: auto;
  object-fit: contain;
}
/* =========================
   COMMON SECTION
========================= */
.section {
  text-align: center;
  padding: 0 32px 72px;
}

.divider {
  width: 36px;
  height: 4px;
  margin: 0 auto 10px;
  background: linear-gradient(
    to right,
    #9edbe2 0 33%,
    #f0d9a4 33% 66%,
    #eaa3b2 66% 100%
  );
}

.section h2 {
  font-family: 'Cafe24GoodNight';
  font-size: 17px;
  font-weight: 300;
  color: #6f665e;
  margin-bottom: 16px;
}

.pink {
  color: #dc627f;
  font-size: 19px;
  margin-bottom: 7px;
}

/* =========================
   CALENDAR
========================= */


.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #aaa198;
  border-bottom: 1px solid #aaa198;
  padding: 10px 0 14px;
  margin-top: 18px;
  font-family: 'Cafe24GoodNight';
  font-size: 14px;
  color: #7a7168;
}

.calendar > div {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-dash {
  grid-column: 1 / -1;
  height: 1px !important;
  border-top: 1px dashed #b8aea5;
  margin: 2px 0 8px;
}

.muted{
        color: #cac6c1;
}


.day-heart {
  position: relative;
  width: 28px;
  height: 28px !important;
  margin: auto;
}

.day-heart img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.day-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.day-content span {
  font-size: 8px;
  margin-top: -2px;
}

/* =========================
   MAP
========================= */

.address {
  font-family: 'NotoSansKR-Light';
  font-size: 13px;
}

.map-box {
  width: 100%;
  height: 230px;
  margin-top: 20px;
  border: 1px solid #d8d0c8;
  border-radius: 6px;
  overflow: hidden;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.map-buttons {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  margin-top: 10px;
}

.map-buttons button,
.map-buttons a {
  flex: 1;
  height: 32px;
  background: #ffffff;
  border: 1px solid #ded8d2;
  border-radius: 6px;
  font-size: 10px;
  color: #5f5750;
  text-decoration: none;
  font-family: 'NotoSansKR-Regular';

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.9),
    inset 0 -2px 3px rgba(0, 0, 0, 0.08),
    0 1.5px 5px rgba(0, 0, 0, 0.1);
}

.map-buttons img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.map-buttons button:active,
.map-buttons a:active {
  transform: translateY(1px);
  box-shadow:
    inset 0 2px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.root_daum_roughmap {
  width: 100% !important;
}

.root_daum_roughmap .wrap_map {
  width: 100% !important;
}

.root_daum_roughmap .wrap_map .map {
  width: 100% !important;
}

/* =========================
   GALLERY
========================= */
.gallery {
  padding-left: 0;
  padding-right: 0;
}

.gallery-main {
  position: relative;
  margin-top: 18px;
}

.gallery-main img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0;
  display: block;
}

.gallery-main button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 34px;
  color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}

#prevBtn {
  left: 12px;
}

#nextBtn {
  right: 12px;
}

.gallery-count {
  font-family: 'NotoSansKR-Regular';
  font-size: 12px;
  color: #6f665e;
  margin-top: 14px;
}

.thumbs {
  display: none;
}
/* =========================
   ACCOUNT
========================= */
.account {
  padding-left: 32px;
  padding-right: 32px;
}

.account h2 {
  margin-bottom: 26px;
}

.account-item {
  margin-bottom: 14px;
}

.account-title {
  width: 100%;
  height: 36px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  font-family: 'NotoSansKR-Regular';
}

.blue {
  background: #a1c3e5;
}

.pink-bg {
  background: #efb0bc;
}


.account-box button {
  width: 42px;
  height: 26px;
  border: 1px solid #ddd5cf;
  background: #fafafa;
  color: #6f665e;
  font-size: 11px;
}

.account-box {
  height: 0;
  overflow: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  padding: 0 8px 0 14px;

  font-size: 13px;
  color: #6f665e;
  font-family: 'NotoSansKR-Light';

  transition: height .3s ease, opacity .25s ease;
}

.account-item.open .account-box {
  height: 36px;
  opacity: 1;
}

/* =========================
   THANKS
========================= */
.thanks {
  text-align: center;
  padding: 34px 0 80px;
}

.thanks img {
  width: 170px;
  margin-bottom: 26px;
}

.thanks p {
  font-family: 'Cafe24GoodNight';
  font-size: 18px;
  line-height: 1.5;
  color: #6f665e;
}


.invite-copy-btn {
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  height: 34px;
  padding: 0 18px;

  border: none;
  border-radius: 18px;
  background: #9a8d82;
  color: #ffffff;

  font-family: 'NotoSansKR-Regular';
  font-size: 12px;
  cursor: pointer;
}

.invite-copy-btn img {
  width: 14px;
  height: 14px;
  display: block;
  margin-bottom: 2px
}

/* =========================
   MOTION
========================= */


.hero-animate {
  opacity: 1;
  transform: none;
}

.fade-section {
  opacity: 0;
  transform: translateY(35px);
  transition: opacity .8s ease, transform .8s ease;
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}

.hero-item {
  opacity: 0;
  transform: translateY(25px);
}

.hero-item.show {
  opacity: 1;
  transform: translateY(0);
  transition: all .8s ease;
}

.baby-main.hero-item {
  transform: translateX(-50%) translateY(25px);
}

.baby-main.hero-item.show {
  transform: translateX(-50%) translateY(0);
}

.baby-main.hero-item {
  transform: translateX(-50%) translateY(25px);
}

.baby-main.hero-item.show {
  transform: translateX(-50%) translateY(0);
}

.hero-info {
  opacity: 0;
  transform: translateY(20px);
}

.hero-info.show {
  opacity: 1;
  transform: translateY(0);
  transition: all .8s ease;
}